@model IEnumerable<Hotel.Models.Users>
<table class="table">
    <tr>
        <th>Id</th>
        <th>ФИО</th>
        <th>Email</th>
        <th>Удаление</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <label asp-for="@item.Id">@item.Id</label>
            </td>
            <td>
                <label asp-for="@item.Name">@item.Name</label>
            </td>
            <td>
                <label asp-for="@item.Email">@item.Email</label>
            </td>
            <td>
                <form asp-controller="Home" asp-action="DeleteUser" method="post" asp-route-id="@item.Id">
                    <input type="submit" value="Удалить" class="btn btn-success w-30 p-1" />
                </form>
            </td>
        </tr>
    }
</table>