@model IEnumerable<Hotel.Models.Post>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Зарплата</th>
        <th>Обновление</th>
        <th>Удаление</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <label asp-for="@item.Id">@item.Id</label>
            </td>
            <td>
                <label asp-for="@item.Name">@item.Name</label>
            </td>
            <td>
                <label asp-for="@item.Pay">@item.Pay</label>
            </td>
            <td>
                <form asp-controller="Home" asp-action="UpdatePost" method="get" asp-route-id="@item.Id">
                    <input type="submit" value="Обновить" class="btn btn-success w-30 p-1" />
                </form>
            </td>
            <td>
                <form asp-controller="Home" asp-action="DeletePost" method="post" asp-route-id="@item.Id">
                    <input type="submit" value="Удалить" class="btn btn-success w-30 p-1" />
                </form>
            </td>
        </tr>
    }
</table>
